<mat-grid-list cols="4">
  <mat-grid-tile [colspan]="4">
    <mat-form-field appearance="legacy">
      <mat-label>ค้นหาโปเกมอน</mat-label>
      <input
        [(ngModel)]="pokemonName"
        #inputText
        matInput
        placeholder="พิมพ์ชื่อโปเกมอนที่ต้องการ"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let pokemon of listPokemon" [colspan]="1">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>{{ pokemon.name | titlecase }}</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        [src]="pokemon.sprites.front_default"
        [alt]="'Photo of ' + pokemon.name"
      />
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
