<mat-grid-list cols="4">
  <mat-grid-tile [colspan]="4">
    <mat-form-field appearance="legacy">
      <mat-label>ค้นหาโปเกมอน</mat-label>
      <input
        type="number"
        [(ngModel)]="limit"
        #inputText
        matInput
        placeholder="พิมพ์ชื่อโปเกมอนที่ต้องการ"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let pokemon of listPokemon$ | async" [colspan]="1">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        [src]="pokemon.sprites.front_default"
        [alt]="'Photo of ' + pokemon.name"
      />
      <mat-card-content>
        <p>
          {{ pokemon.name }}
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
